header{
    border: 1px solid black; 
    height: 100px;
    width: 1028;
    text-align: center;
}

@media (max-width:425px) { 
    header {
    background: rgba(4, 143, 4, 0.842);  
   
    }
   
}
@media (min-width:800px) {
    header {
        background: rgb(14, 226, 14);  
       
        }   
}
@media (min-width:420px) and (max-width: 800px) {
    header {
    background: #538357;  
    
    }
}

header img{
    
    height: 100px;
    float: left;
    display: inline;
    

}
ul li {
    width: 100px;
    display: inline;
    float: right;
    margin-right: 30px;
}
@media (max-width:425px) { 
    header img{
        height: 100px;
        float: left;
        display: inline;
        display: none;
    }
 
   
}
@media (min-width:420px) and (max-width: 800px) {
    header img{
        height: 100px;
        float: left;
        display: inline;
        display: none;
    }
    ul li {
        float: none;
        margin-left: 0px;
        margin-right:60px ;
        
    }
}
